/*--header--*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 80px;
  gap: 40px;
  background-color: #ffffff4d;
  border-bottom: 1px solid #000;
}

.responsive-btn {
  display: none;
}
.header--logo {
  width: 200px;
  height: 80px;
}

nav {
  display: flex;
  align-items: center;
  width: 80%;
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
/*--Main--Hero--*/
.shehda__main-hero {
  display: flex;
  position: relative;
}
.shahda__main-hero-background-image {
  position: relative;
  width: 100%;
  min-height: 90vh;
  top: -20px;
}
.shahda__main-hero-background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shehda__main-hero-text-wrapper {
  position: absolute;
  top: 90px;
  left: 0;
  padding: 149px 34px;
  max-width: 841px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.shehda__main-hero-text-wrapper a {
  transition: all 0.3s ease-in-out;
}
.shehda__main-hero-text-wrapper a:hover {
  background-color: #571600;
  border: 1px solid #571600;
  color: #ffffff;
}
.shahda__main-hero-text__bubbles {
  position: absolute;
  top: 58%;
  left: 2%;
}
.shahda__main-hero-text__bubbles .bubbles2 {
  object-fit: cover;
  object-position: 0;
  transform: scaleY(-1) scaleX(-1);
}
/*Slider--sec*/
.shehda__slider-product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shehda__slider-product-bubbles img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shehda__slider-product-bubbles {
  position: absolute;
  top: -42%;
  left: 0vw;
  width: 180px;
}
.shehda__slider-product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.shehda__slider-product-wrapper-glide-container {
  width: 100%;
  height: 500px;
}
.shehda__slider-product-wrapper-btn {
  align-self: center;
}
.shehda__slider-product-wrapper-btn a {
  background-color: #571600;
  padding: 16px 32px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.shehda__slider-product-wrapper-btn a:hover {
  background-color: #ffffff;
  border: 1px solid #571600;
  color: #571600;
}
.shehda__slider-product-background {
  position: relative;
}
.shehda__slider-product-background-miel {
  position: absolute;
  top: 60px;
  right: 0;
  height: 56vh;
  width: 29vw;
}
.shehda__slider-product-background-bulle {
  position: absolute;
  top: 134px;
  left: 0;
  width: auto;
  height: auto;
}
/*responsive*/

@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1400px) {
  .shahda__main-hero-background-image {
    top: -14px;
  }
  .shehda__main-hero-text-wrapper {
    top: 0;
  }
  .sec-one-text-content {
    width: 90vw;
  }
  header {
    padding: 10px 60px;
    gap: 20px;
  }
  /*main-hero*/
  .shehda__main-hero-text-wrapper {
    padding: 90px 34px;
  }
  /*sec-2-*/
  .shehda__slider-product-bubbles {
    display: none;
  }
  .shehda__slider-product-background-bulle {
    position: absolute;
    top: 134px;
    right: 41vw;
  }
}

@media screen and (max-width: 990px) {
  header {
    justify-content: flex-start;
    padding: 20px;
  }
  .responsive-btn {
    display: flex;
    align-self: center;
  }
  .responsive-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 1px solid #e89c1c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 2px;
  }
  .header--logo {
    position: relative;
    left: 50%;
    display: flex;
    transform: translate(-70%);
  }
  header nav {
    display: none;
    position: fixed;
    top: 12%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3.5rem 4%;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    z-index: 99999;
  }

  header nav.active {
    display: block;
    transform: translateX(0);
    pointer-events: auto;
  }

  header nav ul {
    flex-direction: column;
  }
  /*main-hero*/
  .shehda__main-hero-text-wrapper span {
    order: 3;
    margin-top: 30px;
  }

  .shahda__main-hero-background-image img {
    object-position: right;
  }
  .shehda__main-hero-text-wrapper {
    padding: 30px 34px;
  }
  .shahda__main-hero-text__bubbles {
    position: absolute;
    top: 58%;
    right: 0;
    left: auto;
  }
  .shahda__main-hero-text__bubbles img {
    object-position: -105px;
    transform: scaleX(-1) scaleY(-1);
  }
  /*sec-2-*/
  .shehda__slider-product-background-miel {
    display: none;
  }
  .shehda__slider-product-background-bulle {
    display: none;
  }
  .shehda__slider-product-wrapper-title {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .responsive-btn button {
    width: 40px;
    height: 40px;
    padding: 2px;
  }
  .padding-warraper {
    padding: 20px;
  }
  .btn-content-sec-one a {
    max-width: 280px;
    border-radius: 100px;
    background-color: #ffffff;
  }
  /*main-hero*/

  .shehda__main-hero-text-wrapper {
    padding: 50px 15px;
  }
  .shehda__main-hero-text-wrapper a {
    padding: 8px 24px;
    border-radius: 100px;
  }
}
@media screen and (max-width: 450px) {
  .responsive-btn button {
    width: 30px;
    height: 30px;
  }
  .header--logo {
    transform: translate(-77%);
  }
  /*main-hero*/
  .shehda__main-hero-text-wrapper {
    padding: 35px 15px;
  }
  .shehda__main-hero-text-wrapper a {
    padding: 0px 24px;
    border-radius: 100px;
  }
}
