/*--header--*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 80px;
  gap: 40px;
  background-color: #ffffff4d;
  border-bottom: 1px solid #000;
}
.responsive-btn {
  display: none;
}
.header--logo {
  width: 200px;
  height: 80px;
}

nav {
  display: flex;
  align-items: center;
  width: 80%;
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
/*--Main--Hero--*/
.background-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.padding-warraper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 80px;
}
.sec-container {
  position: relative;
  width: 100%;
  height: 100%;
}
/*responsive*/
@media screen and (max-width: 1400px) {
  header {
    padding: 10px 60px;
    gap: 20px;
  }
}

@media screen and (max-width: 990px) {
  header {
    justify-content: flex-start;
    padding: 20px;
  }
  .responsive-btn {
    display: flex;
    align-self: center;
  }
  .responsive-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 1px solid #e89c1c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 2px;
  }
  .header--logo {
    position: relative;
    left: 50%;
    display: flex;
    transform: translate(-70%);
  }
  header nav {
    display: none;
    position: fixed;
    top: 19%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem 4%;
    background-color: #ffffff4d;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
  }

  header nav.active {
    display: block;
    transform: translateX(0);
    pointer-events: auto;
  }

  header nav ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 780px) {
  .responsive-btn button {
    width: 40px;
    height: 40px;
    padding: 2px;
  }
}
@media screen and (max-width: 450px) {
  .responsive-btn button {
    width: 30px;
    height: 30px;
  }
  .header--logo {
    transform: translate(-77%);
  }
}
