/*--header--*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 80px;
  gap: 40px;
  background-color: #ffffff4d;
  border-bottom: 1px solid #000;
}
.responsive-btn {
  display: none;
}
.header--logo {
  width: 200px;
  height: 80px;
}

nav {
  display: flex;
  align-items: center;
  width: 80%;
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
@media screen and (max-width: 990px) {
  header {
    justify-content: flex-start;
    padding: 20px;
  }
  .responsive-btn {
    display: flex;
    align-self: center;
  }
  .header--logo {
    position: relative;
    left: 50%;
    display: flex;
    transform: translate(-70%);
  }
  header nav {
    display: none;
  }
}
