@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(./fONT/css/clash-display.css);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
li {
  list-style: none;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.logo--icon--container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header--logo img {
  object-fit: cover;
  box-shadow: 0px 4px 4px 0px rgba(255, 192, 0, 0.161);
}
.img-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: -18px;
}
/*texte style :*/
nav ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-wrap: nowrap;
  color: #000;
}
.shehda__main-hero-text-wrapper h1 {
  font-family: "Clash Display";
  font-weight: 600;
  font-size: 68px;
  line-height: 85px;
  letter-spacing: 0%;
  color: #3f0600;
  margin-bottom: 20px;
}
.shehda__main-hero-text-wrapper p {
  font-family: "Inter";
  font-weight: 600;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 40px;
}
.shehda__main-hero-text-wrapper span {
  font-family: "Inter";
  font-weight: 600;
  font-style: italic;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0%;
  display: block;
  color: white;
  margin-bottom: 40px;
}
.shehda__main-hero-text-wrapper a {
  font-family: "Inter";
  font-weight: 600;
  font-size: 34px;

  line-height: 48px;
  letter-spacing: 0%;
  color: #571600;
  text-decoration: none;
  padding: 16px 32px;
  background-color: white;
  border-radius: 15px;
  width: max-content;
}
/*sec-2-text-style*/
.shehda__slider-product-wrapper-title h2 {
  font-family: Clash Display;
  font-weight: 600;
  font-size: 68px;
  line-height: 85px;
  letter-spacing: 0%;
  color: #3f0600;
  text-align: center;
}
.shehda__slider-product-wrapper-btn a {
  font-family: "Inter";
  font-weight: 600;
  font-size: 34px;
  line-height: 85px;
  letter-spacing: 0%;
  color: #ffffff;
}
/*responsive*/
@media screen and (max-width: 1400px) {
  nav ul li a {
    font-size: 22px;
  }
}

@media screen and (max-width: 990px) {
  nav ul li a {
    font-size: 25px;
  }
}
@media screen and (max-width: 780px) {
  .shehda__main-hero-text-wrapper h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .shehda__main-hero-text-wrapper p {
    font-size: 26px;
    line-height: 46px;
  }
  .shehda__main-hero-text-wrapper a {
    font-size: 24px;
    line-height: 40px;
  }
}
@media screen and (max-width: 450px) {
  nav ul li a {
    font-size: 16px;
  }

  .shehda__main-hero-text-wrapper h1 {
    font-size: 53px;
    line-height: 60px;
  }
  .shehda__main-hero-text-wrapper p {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 10%;
  }
  .shehda__main-hero-text-wrapper a {
    font-size: 16px;
    line-height: 48px;
  }
  .shehda__main-hero-text-wrapper span {
    font-size: 16px;
  }
}
