@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*-------------------global-------------------*/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
section {
  display: flex;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
li {
  list-style: none;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.logo--icon--container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header--logo img {
  object-fit: cover;
  box-shadow: 0px 4px 4px 0px rgba(255, 192, 0, 0.161);
}
.img-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: -18px;
}
/*---------------------------Landing----------------------------*/

/*-------------------sec-1-------------------*/
nav ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-wrap: nowrap;
  color: #000;
}
.shehda__main-hero-text-wrapper h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #3f0600;
  margin-bottom: 20px;
  text-wrap: nowrap;
}
.shehda__main-hero-text-wrapper p {
  font-family: "Inter";
  font-weight: 600;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 40px;
}
.shehda__main-hero-text-wrapper span {
  font-family: "Inter";
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0%;
  display: block;
  color: white;
  margin-bottom: 40px;
}
.shehda__main-hero-text-wrapper a {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #571600;
  text-decoration: none;
  padding: 0.5px 27px;
  background-color: white;
  border-radius: 15px;
  width: max-content;
}
/*-------------------sec-2-------------------*/
.shehda__slider-product-wrapper-title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #3f0600;
  text-align: center;
}
.shehda__slider-product-wrapper-btn a {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #ffffff;
}
/*-------------------sec-3-------------------*/
.heading-absolute h2 {
  font-family: "Poppins";
  font-weight: 700;
  line-height: 50px;
  font-size: 48px;
  letter-spacing: 0%;
  color: #3f0600;
}
.text-about h2 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  color: #3f0600;
  margin-bottom: 20px;
}
.text-about p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  color: #3f0600;
}
.grid-card-text p span {
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  text-wrap: nowrap;
}
.grid-card-text p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.side-circle h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: right;
  color: #3f0600;
}
/*-------------------sec-4-------------------*/

.review-text-title h2 span {
  margin-left: 50px;
}
.review-text-title h2 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  color: #3f0600;
}
.review-box p {
  font-family: "Inter";
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #3f0600;
}
#arabic-review {
  direction: rtl;
  font-family: Amiri;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  color: #3f0600;
}
/*---------------------------Landing----------------------------*/
/*---------------------------Product----------------------------*/
.shehda__Product-grid h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: right;
  color: #3f0600;
}
.p-title h3 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  color: #571600;
}
.p-price h3 {
  font-family: Inter;
  font-weight: 900;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffca65;
}
.p-get a {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #ffffff;
}

/*---------------------------Product----------------------------*/
/*---------------------------Product-page----------------------------*/
.title-Product h1,
h2 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #3f0600;
}
.price h3 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #ffca65;
}
.quick-description p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #3f0600;
  text-align: left;
}
.metafield-quantity button {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #3f0600;
}
#ADD-CHART,
#COMMANDE {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ffffff;
}
/*---------------------------Product-page----------------------------*/
.product-info h2 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #3f0600;
  text-align: left;
}

.product-info p,
ul li p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #3f0600;
  text-align: left;
}
.quantity input[value] {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #3f0600;
}

/*---------------------------contact----------------------------*/
.commande-container h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #3f0600;
}
.container-list h2 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0%;
}
.container-list p,
ul li {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}
.email-number h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #3f0600;
}
.email-number ul li p,
.insta-facebook ul li p {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  color: #3f0600;
}
.insta-facebook h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #3f0600;
}
/*---------------------------contact----------------------------*/
/*footer*/
footer h6 {
  font-family: "Inter";
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
/*-------------------------------responsive-------------------------------*/
@media screen and (max-width: 1400px) {
  /*---------------------------Landing----------------------------*/
  nav ul li a {
    font-size: 22px;
  }
  /*---------------------------Landing----------------------------*/
  /*---------------------------Product-page----------------------------*/
  .title-Product h1,
  h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .price h3 {
    font-size: 30px;
    line-height: 50px;
  }
  .quick-description p {
    font-size: 18px;
    line-height: 30px;
  }
  .metafield-quantity button {
    font-size: 18px;
    line-height: 30px;
  }
  #ADD-CHART,
  #COMMANDE {
    font-size: 20px;
    line-height: 30px;
  }
  /*---------------------------Product-page----------------------------*/
  .commande-container h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .insta-facebook h3 {
    font-size: 28px;
    line-height: 40px;
  }
  .email-number h3 {
    font-size: 28px;
    line-height: 40px;
  }
  .email-number h3 {
    font-size: 36px;
    line-height: 50px;
    text-wrap: nowrap;
  }
  .email-number ul li p,
  .insta-facebook ul li p {
    font-size: 16px;
    line-height: 35px;
  }
}

@media screen and (max-width: 990px) {
  /*---------------------------Landing----------------------------*/
  nav ul li a {
    font-size: 25px;
  }
  .side-circle br {
    display: none;
  }
  c {
    text-align: center;
  }
  footer h6 {
    font-size: 12px;
    line-height: 30px;
  }

  /*---------------------------Landing----------------------------*/
  /*---------------------------Product-page----------------------------*/
  .title-Product h1,
  h2 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .price h3 {
    font-size: 30px;
    line-height: 50px;
  }

  .metafield-quantity button {
    font-size: 18px;
    line-height: 30px;
  }
  #ADD-CHART,
  #COMMANDE {
    font-size: 20px;
    line-height: 30px;
  }
  /*---------------------------Product-page----------------------------*/
  .product-info h2 {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
  }

  .product-info p,
  ul li p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  /*------------------------------*/
  .email-number h3 {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 780px) {
  /*---------------------------Landing----------------------------*/
  .shehda__main-hero-text-wrapper h1 {
    font-size: 38px;
    line-height: 50px;
    text-wrap: wrap;
  }
  .shehda__main-hero-text-wrapper p {
    font-size: 21px;
    line-height: 41px;
  }
  .shehda__slider-product-wrapper-title h2 {
    font-size: 38px;
    line-height: 50px;
  }
  /*sec-3*/
  .heading-absolute h2 {
    font-size: 32px;
  }
  .text-about h2 {
    font-size: 32px;
  }
  .side-circle h3 {
    font-size: 32px;
    text-align: center;
  }

  /*-------------------sec-4-------------------*/

  .review-text-title h2 {
    font-size: 32px;
    line-height: 50px;
  }
  .review-box p {
    font-size: 16px;
    line-height: 30px;
  }
  #arabic-review {
    font-size: 20px;
    line-height: 30px;
  }
  /*---------------------------Landing----------------------------*/
  /*---------------------------Product----------------------------*/
  .shehda__Product-grid h1 {
    font-size: 32px;
    line-height: 50px;
  }
  .p-title h3 {
    font-size: 18px;
    line-height: 40px;
  }
  .p-price h3 {
    font-size: 18px;
    line-height: 40px;
  }
  .p-get a {
    font-size: 16px;
    line-height: 40px;
  }

  /*---------------------------Product----------------------------*/
  /*---------------------------Product-page----------------------------*/
  .title-Product h1,
  h2 {
    font-size: 32px;
    line-height: 50px;
    text-align: center;
  }
  .price h3 {
    font-size: 18px;
    line-height: 40px;
  }

  .metafield-quantity button,
  .quantity input[value] {
    font-size: 16px;
    line-height: 30px;
  }
  #ADD-CHART,
  #COMMANDE {
    font-size: 16px;
    line-height: 30px;
  }
  .product-info h2 {
    font-size: 32px;
    line-height: 50px;
  }

  .product-info p,
  ul li p {
    font-size: 18px;
    line-height: 30px;
  }
  /*---------------------------Product-page----------------------------*/
  .commande-container h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .insta-facebook h3 {
    font-size: 24px;
    line-height: 40px;
  }
  .email-number h3 {
    font-size: 24px;
    line-height: 40px;
  }
  .email-number h3 {
    font-size: 30px;
    line-height: 50px;
  }
  .email-number ul li p,
  .insta-facebook ul li p {
    font-size: 16px;
    line-height: 35px;
  }
  .container-list h2 {
    font-size: 26px;
    line-height: 40px;
  }
  .container-list p,
  ul li {
    font-size: 14px;
    line-height: 30px;
  }
}
@media screen and (max-width: 450px) {
  /*---------------------------Landing----------------------------*/
  nav ul li a {
    font-size: 16px;
  }
  .shehda__main-hero-text-wrapper h1 {
    font-size: 34px;
    line-height: 40px;
    text-wrap: wrap;
  }
  .shehda__main-hero-text-wrapper p {
    font-size: 18px;
    line-height: 37px;
  }
  .shehda__main-hero-text-wrapper a {
    font-size: 16px;
  }
  .shehda__main-hero-text-wrapper span {
    font-size: 14px;
    line-height: 40px;
  }
  /*sec-2*/
  .shehda__slider-product-wrapper-title h2 {
    font-size: 34px;
  }
  .shehda__slider-product-wrapper-btn a {
    font-size: 16px;
    line-height: 48px;
  }
  /*sec-3*/
  .heading-absolute h2 {
    font-size: 24px;
  }
  .text-about h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .text-about p {
    font-size: 14px;
    line-height: 26px;
  }
  .side-circle h3 {
    font-size: 24px;
  }
  .side-circle p {
    font-size: 16px;
    line-height: 20px;
  }
  .grid-card-text p {
    font-size: 12px;
    line-height: 20px;
  }
  .grid-card-text p span {
    font-size: 14px;
    line-height: 24px;
  }
  /*-------------------sec-4-------------------*/

  .review-text-title h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .review-box p {
    font-size: 14px;
    line-height: 26px;
  }
  #arabic-review {
    font-size: 16px;
    line-height: 26px;
  }
  /*---------------------------Landing----------------------------*/
  /*---------------------------Product----------------------------*/
  .shehda__Product-grid h1 {
    font-size: 24px;
    line-height: 26px;
  }
  .p-title h3 {
    font-size: 14px;
    line-height: 26px;
  }
  .p-price h3 {
    font-size: 14px;
    line-height: 26px;
  }
  .p-get a {
    font-size: 14px;
    line-height: 26px;
  }

  /*---------------------------Product----------------------------*/
  /*---------------------------Product-page----------------------------*/
  .title-Product h1,
  h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .price h3 {
    font-size: 14px;
    line-height: 26px;
  }

  .metafield-quantity button {
    font-size: 14px;
    line-height: 26px;
  }
  #ADD-CHART,
  #COMMANDE {
    font-size: 14px;
    line-height: 26px;
  }
  .product-info h2 {
    font-size: 24px;
    line-height: 26px;
  }

  .product-info p,
  ul li p {
    font-size: 14px;
    line-height: 26px;
  }
  /*---------------------------Product-page----------------------------*/
  .commande-container h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .insta-facebook h3 {
    font-size: 20px;
    line-height: 40px;
  }
  .email-number h3 {
    font-size: 20px;
    line-height: 40px;
  }
  .email-number h3 {
    font-size: 22px;
    line-height: 50px;
  }
  .container-list p,
  ul li {
    font-size: 14px;
    line-height: 30px;
  }
  .email-number ul li p,
  .insta-facebook ul li p {
    font-size: 14px;
    line-height: 35px;
  }
  .container-list h2 {
    font-size: 18px;
    line-height: 25px;
  }
}
